version: "3.7"

services:
  bot:
    image: alexeygalt/enc_bot:$GITHUB_REF_NAME-$GITHUB_RUN_ID
    env_file:
      - .env
    environment:
      DB_HOST: $DB_HOST
      DB_PORT: $DB_PORT
      DB_USER: $DB_USER
      DB_PASS: $DB_PASS
      DB_NAME: $DB_NAME
      BOT_TOKEN: $BOT_TOKEN
      CHAT_ID: $CHAT_ID

    command: sh -c "alembic upgrade head && python main.py"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped


  postgres:
    image: postgres:15
    env_file:
      - .env
    environment:
      POSTGRES_USER: $DB_USER
      POSTGRES_PASSWORD: $DB_PASS
      POSTGRES_DB: $DB_NAME
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $DB_USER -d $DB_NAME" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data



volumes:
  postgres_data:
